**/*.pyc
**/*.so
**/cspice/
**/build/
/.idea/
cspice
dist/
*cspyce.egg-info/
**/*wrap.c
wheelhouse/
.DS_Store
cspyce/cspyce0.py
cspyce/cspyce0_info.py
cspyce/typemap_samples.py
cspyce/_version.py
swig/vectorize.i
*venv*
.coverage
coverage.xml
htmlcov
cspyce-unit-test-kernels
