# This workflow compiles CSPICE for many architectures and publishes a branch
# to Test-PyPi

name: Publish to Test PyPI

# Controls when the workflow will run
on:
  workflow_dispatch:

jobs:
  build_python3_wheels:
    name: Build Python 3 wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # os: [ubuntu-latest, windows-latest, macOS-latest]
        os: [ubuntu-latest]
        python-version: [ '3.11' ]
        exclude:
          - os: ubuntu-latest
            python-version: "3.8"
          - os: ubuntu-latest
            python-version: "3.9"
          - os: ubuntu-latest
            python-version: "3.10"
      fail-fast: false

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.12.3
        env:
          CIBW_PROJECT_REQUIRES_PYTHON: '>=3.8'
          CIBW_BEFORE_BUILD: 'pip3 install numpy setuptools && python3 setup.py generate && git status && git tag -l && git log --decorate -n 3 && python3 -m setuptools_scm'
          CIBW_SKIP: 'pp* *musllinux* *cp27mu*'
          CIBW_ARCHS: 'auto64'
          CIBW_ARCHS_MACOS: 'x86_64 arm64'

      - run: |
          pwd
          ls -al
          git status || true
          git tag -l || true
          (git log --decorate | head -30) || true
          python3 -m setuptools_scm || true

      - uses: actions/upload-artifact@v3
        with:
          path: ./wheelhouse/*.whl


  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Build sdist
        run: |
          printenv
          sudo apt install swig
          pip install numpy setuptools setuptools-scm wheel
          pwd
          ls -al
          git status || true
          git tag -l || true
          (git log --decorate | head -30) || true
          python3 -m setuptools_scm || true
          python3 setup.py generate
          python3 setup.py sdist

      - uses: actions/upload-artifact@v3
        with:
          path: dist/*.tar.gz


  upload_test_pypi:
    needs: [build_python3_wheels, build_sdist]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: artifact   # prevents extra directory
          path: dist

      - uses: pypa/gh-action-pypi-publish@v1.8.6
        with:
          user: __token__
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          repository-url: https://test.pypi.org/legacy/
          verify-metadata: false
